
h1{
  // font-size: clamp(20px, 3.9vw, 120px);
  font-size: clamp(25px, 3.5vw, 40px);
}

.paddingContent{
  padding-bottom: 50px;
}

.padding{
  padding-bottom: 15px;
}

.overlay {
  left: 0 !important;
  top: 0 !important;
  z-index: 10000 !important;
  width: 100% !important;
  height: 100% !important;
  position: fixed !important;
  background-color: rgba(194, 194, 194, 0.9) !important;
  cursor: pointer !important;
  visibility: visible !important;
  transition: visibility 0s, opacity 0.4s linear !important;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: wait !important;
}

.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}